<appSettings>
  <clear />
  <add key="aspnet:MaxJsonDeserializerMembers" value="15000" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  <add key="webpages:Version" value="2.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="IpLocation" value="http://anonym.to/?http://legacytools.dnsstuff.com/tools/ipall.ch?tool_id=67&amp;token=&amp;toolhandler_redirect=0&amp;ip={0}&amp;j=1"/>

  <add key="SportTypeSetting" value="~\App_Data\SportTypeSetting.xml"/>
  <!--add new key for remote ref-->
  <add key="RemoteRefURL" value="tcp://10.40.40.29:8098/CallGetRefFunction"/>
  <!--End key for remote ref-->

  <!--add new key for LiveCasino-->
  <add key="CasinoNo" value="01" />
  <add key="ProductNo" value="01"/>
  <!--add new key for LiveCasino-->

  <!--Mail config-->
  <add key="app_mail_id" value="42" />
  <add key="app_mail_address" value="net.tcp://10.40.40.127:8585/MailService" />
  <!--Mail config-->
  <!--Mail address-->
  <add key="SoccerTeam" value="keyscore@sms-vn.com;yung9288@hotmail.com;tracychieng@sms-vn.com" />
  <add key="OtherTeam" value="mnl_kst@gwibsi.com;irene.lol@gwibsi.com" />
  <!--Mail address-->

  <!--Email receive error Job waiting match-->
  <add key="AdminSupport" value="production.error@starixsoft.com" />
  <!--Email receive error Job waiting match-->

 <!--add new key RabbitMQ for calling OneWorksAPI-->
    <add key="RabbitMQHosting" value="10.40.40.127" />
    <add key="RabbitMQVirtualHost" value="/NAPGateway-PRO" />
    <add key="RabbitMQUserName" value="NAPGateway" />
    <add key="RabbitMQPassword" value="L8wn?LU" />
 <!--end key RabbitMQ for calling OneWorksAPI-->

</appSettings>
