<connectionStrings>

  <!--Number Game-->
  <add name="CS_LiveBackupDB" connectionString="Data Source=10.40.40.187;Initial Catalog=BingoAdmin;Persist Security Info=True;User ID=Dot_Agent;Password=ibc$agt%2TGwG*a" providerName="System.Data.SqlClient" />
  <add name="CS_Live" connectionString="Data Source=10.40.40.117;Initial Catalog=Bingo;Persist Security Info=True;User ID=Dot_Agent;Password=ibc$agt%2TGwG*a" providerName="System.Data.SqlClient" />
  <!--/Number Game-->

  <!--LiveCasino-->
  <add name="LV_MainDB" connectionString="data source=10.40.40.117;initial catalog=LiveCasino;User ID=LVCasino_Agent;Password=ibc$agt%2TGwG*a;Pooling=true;" providerName="System.Data.SqlClient" />
  <add name="LV_BackupDB" connectionString="data source=10.40.40.187;initial catalog=LiveCasinoAdmin;User ID=LVCasino_Agent;Password=ibc$agt%2TGwG*a;Pooling=true;" providerName="System.Data.SqlClient" />
  <add name="IBC_DBTransDB" connectionString="data source=10.40.40.17;initial catalog=bodb02;user id=bodbAdminNet; pwd=%bodbAdminNetLogin2587;Pooling=true;" providerName="System.Data.SqlClient" />
  <!--End-->

  <add name="DBPRO.bodb02.bodbAdminNet"
       connectionString="packet size=4096; Data Source=10.40.40.40;Asynchronous Processing=true;Initial Catalog=bodb02;integrated security=false; user id=bodbAdminNet; password=i9hNnaZltx04XF6oTNOKTnvvtLC/zfxr="
       providerName="System.Data.SqlClient" />

  <add name="DBLOG.bodb_CustomerLog.bodbAdminNet"
       connectionString="packet size=4096; Data Source=10.40.40.92;Asynchronous Processing=true;Initial Catalog=bodb_CustomerLog;integrated security=false; user id=bodbAdminNet; password=i9hNnaZltx04XF6oTNOKTnvvtLC/zfxr="
       providerName="System.Data.SqlClient" />

  <add name="DBTXN.bodb02.bodbAdminNet"
      connectionString="packet size=4096; Data Source=10.40.40.17;Initial Catalog=bodb02;integrated security=false; user id=bodbAdminNet; password=i9hNnaZltx04XF6oTNOKTnvvtLC/zfxr="
      providerName="System.Data.SqlClient" />

  <add name="DBAGE.bodb02.bodbAdminNet"
       connectionString="packet size=4096; Data Source=10.40.40.94;Asynchronous Processing=true;Initial Catalog=bodb02;integrated security=false; user id=bodbAdminNet; password=i9hNnaZltx04XF6oTNOKTnvvtLC/zfxr="
       providerName="System.Data.SqlClient" />

  <add name="DBNAP.bodb_NAP.bodbAdminNet"
    connectionString="Data Source=10.40.40.92;Initial Catalog=bodb_NAP;integrated security=false; User ID=bodbAdminNet;Password=i9hNnaZltx04XF6oTNOKTnvvtLC/zfxr="
    providerName="System.Data.SqlClient" />
</connectionStrings>